*{
      margin: 0;
      padding: 0;
}
.imgg{
      max-width: 100%;
}
body{
      font-family: 'Lato', sans-serif;
      font-family: 'Work Sans', sans-serif;
}
/* shareed style css start  */
.primary-color{
      color: #E55473;
}
.btn-primary{
      padding: 15px 30px;
      border-radius: 10px;
      background: #E55473;
      color: white;
      font-size: 14px;
      font-weight: 400;
      border: none;
      margin-top: 20px;
}
.section-heading{
      color: #272727;
      font-family: Lato;
      font-size: 24px;
      font-weight: 700;
}
.discription{
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      width: 50%;
      margin: 20px auto;
}
/* shareed style css end */
/* header and banner style css start  */
.header-section{
      background-color: rgba(229, 84, 115, 0.10);
      padding: 30px 150px 0px 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 101px;
}
.banner-content{
      max-width: 427;
     
}
.banner-title{
      color: #272727;
      font-family: Lato;
      font-size: 40px;
      font-weight: 700;
      }
.banner-pic{
      width: 400px;
      height: 500;
}
.banner-description{
      color: rgba(39, 39, 39, 0.60);
      font-family: Lato;
      font-size: 15px;
      font-weight: 400;
      padding-right: 156px;
      margin-top: 20px;
}
/* header and banner style css start  */
/* featur-flower section style css start */
.featur-flower{
      width: 61%;
      margin: auto;
      text-align: center;
      padding-bottom: 30px;
}
.featur-flower-container{
      display: flex;
      justify-content: space-evenly;
      gap: 5px;
      margin-top: 40px;
}
.flower-bg{
      width: 186px;
      height: 272px;
      padding: 25px 25px 0 25px;
      border-radius: 300px 300px 0px 0px;
      background: rgba(167, 33, 98, 0.15);
      position: relative;
      margin-top: 11px;
}
.flower-bg-img{
position: absolute;
top: 61%;
left: 50%;
transform: translate(-50%, -50%);
width: 171px;
height: 234px;
      
}
.flower-box h5{
      color: #272727;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      text-decoration-line: underline;
      margin-top: 14px;
}
.bg-color-2{
      background-color: rgba(5, 151, 160, 0.15);
}
.bg-color-3{
      background-color: rgba(71, 125, 17, 0.15);
}
/* featur-flower section style css end */
/* hot-deal section style css start  */
.hot-deal{
      background-color: rgba(229, 84, 115, 0.05);
      height: 400px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 60px 200px;
      margin-top: 100px;
      margin-bottom: 100px;
}
.hot-deal-content{
      max-width: 50%;
      text-align: center;
      border:1px solid #272727;
      padding-left: 20px;
}
.hot-deal-content p{
      color: rgba(39, 39, 39, 0.60);
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      margin-top: 20px;
      padding: 0 80px;
}
/* hot-deal section style css end  */